@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.center {
    text-align: center;
}

.banner {
    height: 750px;
    background-image: url("./images/donation13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner p {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
}

.banner-title {
    color: #fff;
    font-size: 4.5rem;
    line-height: 1.2;
}

.btn {
    padding: 1rem 2rem;
    background-color: #FF5959;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.paragraph {
    margin-top: 1rem;
    color: gray;
}

.donate {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.donate-title {
    font-size: 3rem;
}

.amount {
    display: flex;
    column-gap: 3rem;
    justify-content: space-around;
    align-items: center;
    margin: 4rem 0;
}

.amount h2 {
    color: gray;
    font-size: 2rem;
}

.amount .active {
    color: tomato;
    border: 3px solid tomato;
    border-radius: 5px;
    padding: 2rem 1rem;
    background-color:rgba(255, 99, 71, 0.100);
}

.other-amount {
    margin-bottom: 1.5rem;
}

.other-amount input[type = text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #e7dede;
    width: 800px;
    text-align: center;
    font-size: 1.2rem;
    color: gray;
    padding: 1rem;
    outline: none;
}

.other-amount input[type = text]::placeholder {
    color: rgb(212, 202, 202);
}

.donate-plan {
    margin-top: 50px;
}
.plans {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 50px;
}

.plan {
    width: 380px;
    height: 380px;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1rem;
}

.plan h3 {
    font-size: 1.5rem;
}

.plan p {
    color: gray;
}

.plan-1 {
    background:rgba(79, 157, 166, 0.1);
}
.plan-2 {
    background:rgba(255, 89, 89, 0.1);;
}
.plan-3 {
    background:#FFF4D6;
}

.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    padding: 5rem 10.5rem;
}

.contribute {
    width: 50%;
}

.contribute h2 {
    font-size:2.8rem;
}

.contribute p {
    padding: 1.5rem 0;
}

.img {
    width: 50%;
}

.blog img {
    width: 100%;
}

.subscribe {
    max-width: 800px;
    height: 200px;
    background-color: #FFF4D6;
    margin: 0 auto;
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe input[type=email]{
    padding: 1.2rem 2rem;
    border: none;
    outline: none;
    width: 400px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.subscribe button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    margin-top: 3rem;
    height: 180px;
    background-color: #000;
    line-height: 1.8;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h3 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    color: #FF5959;
}

footer h4 {
    font-size: 1.3rem;
    color: gray;
}